In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
Apple = yf.download("AAPL", start='2010-01-01', end='2021-01-01')

[*********************100%%**********************]  1 of 1 completed

In [4]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.461977,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.473148,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.370184,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.358408,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.400681,447610800
...,...,...,...,...,...,...
2020-12-24,131.320007,133.460007,131.100006,131.970001,129.339066,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,133.964951,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,132.181229,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,131.054153,96452100
2020-12-31,134.080002,134.740005,131.720001,132.690002,130.044693,99116600

In [5]:
ticker = ["SPY", "AAPL", "KO"]
stocks = yf.download(ticker, start='2010-01-01', end='2024-01-01')
stocks

[*********************100%%**********************]  3 of 3 completed

Price        Adj Close                              Close             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2010-01-04    6.461976  18.351238   86.860085    7.643214  28.520000
2010-01-05    6.473150  18.129242   87.089973    7.656429  28.174999
2010-01-06    6.370184  18.122807   87.151314    7.534643  28.165001
2010-01-07    6.358408  18.077766   87.519196    7.520714  28.094999
2010-01-08    6.400680  17.743166   87.810432    7.570714  27.575001
...                ...        ...         ...         ...        ...
2023-12-22  193.091385  57.857216  472.182892  193.600006  58.320000
2023-12-26  192.542831  58.095314  474.176697  193.050003  58.560001
2023-12-27  192.642548  58.244122  475.034058  193.149994  58.709999
2023-12-28  193.071426  58.283806  475.213501  193.580002  58.750000
2023-12-29  192.024185  58.462376  473.837769  192.529999  58.930000

Price                         High                                Low  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2010-01-04  113.330002    7.660714  28.610001  113.389999    7.585000
2010-01-05  113.629997    7.699643  28.495001  113.680000    7.616071
2010-01-06  113.709999    7.686786  28.219999  113.989998    7.526786
2010-01-07  114.190002    7.571429  28.184999  114.330002    7.466071
2010-01-08  114.570000    7.571429  27.820000  114.620003    7.466429
...                ...         ...        ...         ...         ...
2023-12-22  473.649994  195.410004  58.459999  475.380005  192.970001
2023-12-26  475.649994  193.889999  58.709999  476.579987  192.830002
2023-12-27  476.510010  193.500000  58.770000  476.660004  191.089996
2023-12-28  476.690002  194.660004  58.869999  477.549988  193.169998
2023-12-29  475.309998  194.399994  58.980000  477.029999  191.729996

Price                                    Open                         \
Ticker             KO         SPY        AAPL         KO         SPY
Date
2010-01-04  28.450001  111.510002    7.622500  28.580000  112.370003
2010-01-05  28.070000  112.849998    7.664286  28.424999  113.260002
2010-01-06  27.990000  113.430000    7.656429  28.174999  113.519997
2010-01-07  27.875000  113.180000    7.562500  28.165001  113.500000
2010-01-08  27.375000  113.660004    7.510714  27.730000  113.889999
...               ...         ...         ...        ...         ...
2023-12-22  58.020000  471.700012  195.179993  58.119999  473.859985
2023-12-26  58.060001  473.989990  193.610001  58.060001  474.070007
2023-12-27  58.400002  474.890015  192.490005  58.639999  475.440002
2023-12-28  58.529999  476.260010  194.139999  58.650002  476.880005
2023-12-29  58.630001  473.299988  193.899994  58.740002  476.489990

Price          Volume
Ticker           AAPL        KO        SPY
Date
2010-01-04  493729600  13870400  118944600
2010-01-05  601904800  23172400  111579900
2010-01-06  552160000  19264600  116074400
2010-01-07  477131200  13234600  131091100
2010-01-08  447610800  28712400  126402800
...               ...       ...        ...
2023-12-22   37122800   9028500   67126600
2023-12-26   28919300   6422500   55387000
2023-12-27   48087700   8560100   68000300
2023-12-28   34049900   8400100   77158100
2023-12-29   42628800   9241600  122234100

[3522 rows x 18 columns]

In [7]:
stocks.head()

Price      Adj Close                           Close                         \
Ticker          AAPL         KO        SPY      AAPL         KO         SPY
Date
2010-01-04  6.461976  18.351238  86.860085  7.643214  28.520000  113.330002
2010-01-05  6.473150  18.129242  87.089973  7.656429  28.174999  113.629997
2010-01-06  6.370184  18.122807  87.151314  7.534643  28.165001  113.709999
2010-01-07  6.358408  18.077766  87.519196  7.520714  28.094999  114.190002
2010-01-08  6.400680  17.743166  87.810432  7.570714  27.575001  114.570000

Price           High                              Low                         \
Ticker          AAPL         KO         SPY      AAPL         KO         SPY
Date
2010-01-04  7.660714  28.610001  113.389999  7.585000  28.450001  111.510002
2010-01-05  7.699643  28.495001  113.680000  7.616071  28.070000  112.849998
2010-01-06  7.686786  28.219999  113.989998  7.526786  27.990000  113.430000
2010-01-07  7.571429  28.184999  114.330002  7.466071  27.875000  113.180000
2010-01-08  7.571429  27.820000  114.620003  7.466429  27.375000  113.660004

Price           Open                            Volume
Ticker          AAPL         KO         SPY       AAPL        KO        SPY
Date
2010-01-04  7.622500  28.580000  112.370003  493729600  13870400  118944600
2010-01-05  7.664286  28.424999  113.260002  601904800  23172400  111579900
2010-01-06  7.656429  28.174999  113.519997  552160000  19264600  116074400
2010-01-07  7.562500  28.165001  113.500000  477131200  13234600  131091100
2010-01-08  7.510714  27.730000  113.889999  447610800  28712400  126402800